<div class="row">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">销售额</div>
        <div class="panel-body">
          <canvas class="chart chart-pie" chart-data="data1" chart-labels="labels1"
                  chart-options="{legend:{display:true}}" height="200">
          </canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">销售曲线</div>
        <div class="panel-body">
          <canvas class="chart chart-line" chart-data="data2" chart-labels="labels2" chart-series="series2"
                  chart-options="{legend:{display:true}}" height="200">
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">区域对比</div>
        <div class="panel-body">
          <canvas class="chart chart-bar" chart-data="data3" chart-labels="labels3" chart-series="series3" height="200">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
